@font-face {
	font-family: league;
	src: url(../fonts/BeaufortforLOL-Bold.woff);
}
* {outline:none;}

/* UNIVERSAL */
::-webkit-scrollbar {
	width:.5rem;
}
::-webkit-scrollbar-track {
	background-color:transparent;
	border:0px solid transparent;
}
::-webkit-scrollbar-thumb {
	background-color:#c2b48a;
	outline:none;
}
html,
body {
	min-height: 100%;
	min-width: 100%;
	margin: 0;
	padding:0;
	left: 0;
	top: 0;
	background-color:#000;
	margin:0;
	font-family: sans-serif;
	color:#fff;
	font-size: 100%;
}
body {
	/*	padding:80px 0 0 0;*/
	background: url(../img/magic-repeater.jpg) top center;
	overflow-x: hidden;
	background-size: auto 100%;
	zoom:1;
}
.text-header {
	font-family:league, sans-serif;
	font-size: 5rem;
	color:#c2b48a;
	min-height:calc(100% - 100px);
	vertical-align: middle;
	position: relative;
}
.text-header > div {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	zoom:1;
}
.text-header .form-group {
	margin:0;
}
.text-header .input-addon {
	top:90%;
}
.text-header .input-addon:hover .btn div {
	background:linear-gradient(#23272c,#45402f)!important;
	border-color:#23272c;
	box-shadow:inset 0 0 4px -2px black;

	animation: shadowOff 1000ms ease;
}
.text-header div[class*="col"] {
	padding:0;
}
.text-header .btn {
	position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
.text-header .btn div {
	font-size: 16px;
	height:100%;
}
.text-header .btn:active {
	transform:initial;
}
.nav-header {
	width:100%;
	height:36px;
	background-image: url(/assets/img/divider-arrow-large.png);
	background-position: center center;
	position:absolute;
	left:0;
	top:43px;
	z-index:0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color:#c2b48a;
	font-family:league, sans-serif;
}
.container-lol {
	width:100%;
	position:relative;
}
.container-lol .top-header {
	width:100%;
	height:36px;
	background-image: url(/assets/img/divider-arrow-large.png);
	background-position: center center;
	transform:rotate(180deg);
}
.container-lol .bot-header {
	width:100%;
	height:36px;
	background-image: url(/assets/img/divider-arrow-large.png);
	background-position: center center;
	margin-top:-8px;
}
.container-lol .content {
	background-color:rgba(255,255,255,.05);
	padding:20px 0;
	margin-top:-8px;
	border-top:2px solid #745625;
	border-bottom:2px solid #745625;
}
.element {
	border:0px solid transparent;
	color:#eee;
	margin:0;
	padding:1px;
	background:linear-gradient(#c8a96a, #7a5c28);
	box-shadow:0 0 4px -1px black;
	cursor:pointer;
	color:#c2b48a;
	font-family:league;
	transition: transform 50ms ease;
	margin:5px 0;
}
.element .inner {
	border:1px solid #1e2328;
	box-shadow:inset 0 0 4px -2px black;
	background-color: #1e2328;
	padding:7px 15px;
	font-size:12px;
	transition:box-shadow 1s ease, text-shadow 1s ease;
	width:100%;
	color:#c2b48a;
	resize:vertical;
	max-width:100%;
}
.element:hover .inner {
	border-color:#23272c;
}
.element:hover {
	background:linear-gradient(#f0e5d5,#c89d3e);
}
.inner.inner-lg {
	padding:10px 18px;
}
.inner.inner-md {
	padding:5px 13px;
}
.inner.inner-sm {
	padding:3px 10px;
}
.inner.inner-xs {
	padding:2px 8px;
}
.inner-content {
	transition: display .1s ease, height .3s ease, opacity 3s ease;
}
.inner .inner-content {
	display:none;
	height:0px;
	opacity:0;
}
.form-group {
	border:0px solid transparent;
	color:#eee;
	margin:0;
	padding:1px;
	background:linear-gradient(#c8a96a, #7a5c28);
	box-shadow:0 0 4px -1px black;
	cursor:pointer;
	color:#c2b48a;
	font-family:league;
	transition: transform 50ms ease;
	margin:5px 0;
}
.form-group .input {
	border:1px solid #1e2328;
	box-shadow:inset 0 0 4px -2px black;
	background-color: #1e2328;
	padding:7px 15px;
	font-size:12px;
	transition:box-shadow 1s ease, text-shadow 1s ease;
	width:100%;
	color:#c2b48a;
	resize:vertical;
	max-width:100%;
}
.form-group input[type="reset"], .form-group input[type="submit"], .form-group input[type="button"] {
	cursor:pointer;
} 
.form-group:hover .input {
	border-color:#23272c;
}
.form-group:hover {
	background:linear-gradient(#f0e5d5,#c89d3e);
}
.form-group input[type="reset"]:active, .form-group input[type="submit"]:active, .form-group input[type="button"]:active {
	font-weight: bold;
}
@keyframes shadowOff {
	0% {
		box-shadow:inset 0 0 4px -2px black, inset 0 0 20px -5px white, 0 0 20px 0 white;
		text-shadow: 0 0 1px white;
	}
	100% {
		box-shadow:inset 0 0 4px -2px black, inset 0 0 20px -10px transparent, 0 0 20px 0 transparent;
	}
}
.btn {
	border:0px solid transparent;
	color:#eee;
	margin:0;
	padding:1px;
	background:linear-gradient(#c8a96a, #7a5c28)!important;
	box-shadow:0 0 4px -1px black;
	cursor:pointer;
	color:#c2b48a;
	font-family:league;
	transition: transform 50ms ease;
}
.btn div {
	border:1px solid #1e2328;
	box-shadow:inset 0 0 4px -2px black;
	background-color: #1e2328;
	padding:7px 15px;
	font-size:12px;
	transition:box-shadow 1s ease, text-shadow 1s ease;

}
.btn.close {
	float:right;

}
.btn.close div {
	padding: 2px 4px;
	vertical-align: middle;
	float:right;
	font-size: 1rem;
}
.btn:hover div {
	background:linear-gradient(#23272c,#45402f)!important;
	border-color:#23272c;
	box-shadow:inset 0 0 4px -2px black;

	animation: shadowOff 1000ms ease;
}
.btn:hover {
	background:linear-gradient(#f0e5d5,#c89d3e)!important;
}
.btn:active {
	transform:translateY(1px);
}
.btn-lg div {
	padding:10px 18px;
}
.btn-md div {
	padding:5px 13px;
}
.btn-sm div {
	padding:3px 10px;
}
.btn-xs div {
	padding:2px 8px;
}
label {
	color:#c2b48a;
	font-size: 0.8rem;
}
.form-container label {
	display:inline;
}
.lol {
	border:0px solid transparent;
	color:#eee;
	margin:0;
	padding:1px;
	background:linear-gradient(#c8a96a, #7a5c28);
	box-shadow:0 0 4px -1px black;
	cursor:pointer;
	color:#c2b48a;
	font-family:league!important;
	transition: transform 50ms ease;
}
.lol select {
	border:1px solid #1e2328;
	box-shadow:inset 0 0 4px -2px black;
	background-color: #1e2328;
	padding:7px 15px;
	font-size:12px;
	color:#c2b48a;
	transition:box-shadow 1s ease, text-shadow 1s ease;
}
.lol:hover select {
	background:linear-gradient(#23272c,#45402f);
	border-color:#23272c;
	box-shadow:inset 0 0 4px -2px black;
}
.lol:hover {
	background:linear-gradient(#f0e5d5,#c89d3e);
}
select {
	width:100%;
}
.lol select option {
	background-color:#1e2328;
}
::selection {
	background:rgba(255,255,255,.1);
}
.divider {
	display: block;
	height: 10px;
	width: 90%;
	background: url(../img/divider-arrow-small.png) center top no-repeat;
	border: 0;
	margin:10px 5%;
}
hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, transparent, #7a5c28, transparent);
}
ul.list-group {
	list-style:none;
	margin:0;
	padding:0;
}
ul.list-group li:before {
	font-family: "ElegantIcons";
	line-height: 1;
	content:"\35";
	display:inline-block;
	color:#c2b48a;
}